.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.progress-container {
  width: 140px;
  height: 140px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.progressbar {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

.progressbar__track {
  fill: transparent;
  stroke: var(--c-darker-1);
  stroke-width: 3px;
}

.progressbar__thumb {
  fill: transparent;
  stroke-width: 3px;
  stroke-dasharray: 0 calc(30 * 2 * 3.141593);
  stroke-linecap: round;
  animation-name: progress;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(.3, 1, .3, 1);
  transform: rotate(-89deg);
  transform-origin: 50% 50%;
}

.progressbar__thumb--track-1 {
  stroke: var(--c-lighter-1);
  animation-duration: 1.8s;
}

.progressbar__thumb--track-2 {
  stroke: var(--c-lighter);
  animation-duration: 1.6s;
  animation-delay: .2s;
}

.progressbar__thumb--track-3 {
  stroke: var(--c-yellow);
  animation-duration: 1.2s;
  animation-delay: .4s;
}

.progress-content {
  text-align: center;
}

.progress__value {
  color: var(--c-yellow);
  font-size: 1.5em;
  position: relative;
  display: inline-block;
  transform: scale(0);
  animation: pulse 400ms 1.3s forwards;
}

.progress__value::before {
  content: '%';
  font-size: .5em;
  position: absolute;
  top: 4px;
  left: -12px;
}

.progress__text {
  text-transform: uppercase;
  letter-spacing: 1px;
  max-height: 0;
  overflow-y: hidden;
  animation: flyin 500ms 1.9s forwards;
}

@keyframes progress {
  to {
    stroke-dasharray: 110;
  }
}

@keyframes pulse {
  0% {
    transform: scale(0);
  }

  60% {
    transform: scale(1.4);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes flyin {
  from {
    max-height: 0;
    opacity: 0;
  }

  to {
    max-height: 20px;
    opacity: .5;
  }
}
